@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9e2f1;
  min-height: 100vh;
}

h1 {
  font-family: 'Mono', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color: #ffab04;
  letter-spacing: 0.30px;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

.error h2 {
  margin: 0;
}

.error p {
  margin: 0;
}

#main-header {
  display: flex;
  padding: 10px;  
  background-color: #3ff4de;
  min-height: 30px;
  display: flex;
  font-size: large;
  color: white;
  justify-content: space-between;
}

#main-header #title {
  display: flex;
  gap: 15px;
  align-items: center;
}

#main-header #title img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffab04;
}

#main-header button {
  font-size: 20px;
  font-family: 'Mono', sans-serif;
}

.userName {
  color: #ffab04;
  font-weight: 500;
  font-size: larger;
  text-shadow: 0px 0px 5px #000;
}

#itemsList {
  width: 90%;
  list-style: none;
  margin: 30px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
}

.item {
  border-style: outset;
  border-radius: 15px;
  overflow: visible;
  text-align: center;
  box-shadow: 0 1px 6px #ffab04;
}

.item img {
  width: 100%;
  height: 345px;
  object-fit: contain;
  background: blanchedalmond;
}

.item h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0;
  color: black;
}

.item-description {
  margin: 15px;
}

.item-price {
  color: #ffab04;
  margin: 0;
}

.item-actions {
  margin-bottom: 20px;
}

.cart h2 {
  margin: 15px 0;
}

.cart ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.cart-text {  
  position: absolute;
  transform: translate(-10px, -10px);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
  font-size: 18px;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  margin: 10px;
  border-style: inset;
  padding: 10px;
}

.cart-item-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #312c1d;
  color: #ffab04;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffab04;
}

.control {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 10px;
}

.control input {
  width: 100%;
  max-width: 320px;
  font: inherit;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #ffab04;
  border: 1px solid #ffab04;
  color: #1f1a09;
  padding: 10px 20px;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffab04;
}

.text-button:hover,
.text-button:active {
  color: #ffab04;
}

.modal {
  background-color: #c5eaecf7;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 15px;
  width: 80%;
  max-width: 650px;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

button {
  font-size: calc(10px + 2vmin);
}

.emptyList {
  color: black;
  font-size: x-large;
}
